<div class="title">
  <h3>
    {{ witch?.name }}
  </h3>
  <button mat-raised-button color="primary" routerLink="['/witches/form', witch.id]">Editar</button>
</div>

<div class="card-body">
  <mat-card>
    <form *ngIf="(witch?.supreme==true) else commonWitchTemplate">

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Id</label>
        <div class="col-sm-10">
          <label class="col-sm-2 col-form-label">{{witch?.id}}</label>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Grado</label>
        <div class="col-sm-10">
          <label class="col-sm-2 col-form-label">Suprema</label>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Fecha de Nacimiento</label>
        <div class="col-sm-10">
          <label class="col-sm-6 col-form-label">{{witch?.bornDate}}</label>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Cantidad de Poderes</label>
        <div class="col-sm-10">
          <label class="col-sm-2 col-form-label">{{witch?.powerAmount}}</label>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Puntos de Poder</label>
        <div class="col-sm-10">
          <label class="col-sm-2 col-form-label">{{witch?.powerAmount}}</label>
        </div>
      </div>
    </form>
  </mat-card>

  <ng-template #commonWitchTemplate>
    <form>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Id</label>
        <div class="col-sm-10">
          <label class="col-sm-2 col-form-label">{{witch?.id}}</label>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Grado</label>
        <div class="col-sm-10">
          <label class="col-sm-2 col-form-label">Comun</label>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Region de Origen</label>
        <div class="col-sm-10">
          <label class="col-sm-2 col-form-label">{{witch?.regionOrigin}}</label>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Vuela Escoba?</label>
        <div class="col-sm-10">
          <label *ngIf="(witch?.flyBroom==true) else noFlyBroom" class="col-sm-2 col-form-label">Si</label>
          <ng-template #noFlyBroom>
            <label class="col-sm-2 col-form-label">No</label>
          </ng-template>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Suprema</label>
        <div class="col-sm-10">
          <label [routerLink]="['/witches/form', witch?.supremeWitch?.id]" class="btn btn-link">
            {{witch?.supremeWitch?.name}}
          </label>
        </div>
      </div>
    </form>
  </ng-template>
</div>

<div class="button">
  <button mat-raised-button color="accent" routerLink="/witches">Volver</button>
</div>
