<div class="title">
  <h3>
    Menu Principal
  </h3>
</div>

<div class="card-deck">

  <div color="background" class="card p-3 mb-5 rounded" routerLink="/witches">
    <img class="card-img-top" src="../assets/witch.png" alt="witch">
    <div class="card-body">
      <h5 class="card-title text-center">Listado de Brujas</h5>
    </div>
  </div>

  <div class="card p-3 mb-5 rounded" routerLink="/witches/form">
    <img class="card-img-top" src="../assets/hat.png" alt="hat">
    <div class="card-body">
      <h5 class="card-title text-center">Registrar Bruja</h5>
    </div>
  </div>

  <div class="card p-3 mb-5 rounded" routerLink="/home">
    <img class="card-img-top" src="../assets/cauldron.png" alt="cauldron">
    <div class="card-body">
      <h5 class="card-title text-center">Registro de Hechizo</h5>
    </div>
  </div>

</div>
