<div class="title">
  <h3>
    Listado de Brujas
  </h3>
</div>

<mat-card>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
  </mat-form-field>
</mat-card>

<div class="div-table">

  <table mat-table matSort [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
      <td mat-cell *matCellDef="let witch"> {{witch.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <td mat-cell *matCellDef="let witch"> {{witch.name}} </td>
    </ng-container>

    <ng-container matColumnDef="grade">
      <th mat-header-cell *matHeaderCellDef> Grado </th>
      <td mat-cell *matCellDef="let witch"> {{showGrade(witch.supreme)}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let witch">
          <button mat-icon-button [routerLink]="['/witches/form', witch.id, 'view']">
            <mat-icon>visibility</mat-icon>
          </button>
          <button mat-icon-button [routerLink]="['/witches/form', witch.id, 'edit']">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button [routerLink]="['/witches/form', witch.id, 'delete']">
            <mat-icon>delete</mat-icon>
          </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let witch; columns: columnsToDisplay">
    </tr>

  </table>

  <mat-paginator #paginator
                [pageSize]="pageSize"
                [pageSizeOptions]="[5, 10, 20]"
                [showFirstLastButtons]="true"
                [length]="totalSize"
              >
  </mat-paginator>
</div>
